<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card mt-2 mb-2">
  <h3 class="card-header">{{ committee.title }}</h3>
  <div class="card-body">
    <h5 class="card-title">{{ committee.description.html|safe }}</h5>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1"><h1>Your Meetings</h1></span>
        <div class="d-flex">
          <button
            class="btn btn-outline-success me-2"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#addDepartmentModal"
          >
            Add New Meeting
          </button>
        </div>
      </div>
    </nav>
    {% if meetings %}
    <ul class="list-group mb-2 mt-2">
      {% include 'meetings/meeting_list.html' %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
