<!-- prettier-ignore -->
{% extends 'base.html' %} {% load static %} {% block content %}
{% load crispy_forms_tags %}
<div>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand"><h1>Your Departments</h1></span>
      <div class="d-flex">
        <button
          class="btn btn-outline-success me-2"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#addDepartmentModal"
        >
          Add New Department
        </button>
      </div>
    </div>
  </nav>

  {% include 'meetings/department_list.html' %}
</div>
<div>{% include 'meetings/add_department.html' %}</div>
{% endblock %}
